//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Marcellus', serif;

html {
  margin-bottom: 0px;
  height: 100%;
  background-color: rgba(218, 246, 251, 1);
}

h3 {
  font-weight: bold;
  margin-left: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.movie-view {
  height: 100%;
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  margin-left: 20px;
}

.movie-title {
  margin-top: 15px;
}

.movie-genre {
  margin-top: -14px;
  margin-bottom: 7px;
}

.movie-director {
    margin-bottom: 15px;
}
.link {
  font-family: 'Open Sans Condensed', sans-serif;
}

.value {
  font-family: 'Open Sans Condensed', sans-serif;
}

.back {
  margin-left: 20px;
}
.like {
  margin-left: 20px;
}

.movie-view {
  background-color: #ddccff;
  border-radius: 25px;

  width: 700px;
  height: 440px;
  margin-top: 50px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(134, 141, 155, 1);
  box-shadow: 0 2px 10px 0 rgba(134, 141, 155, 1);
}


@media (max-width:710px ) {
    .movie-view {
        background-color: #ddccff;
        border-radius: 25px;
        overflow: scroll;
        width: 300px;
        height: 400px;
        margin-top: 50px;
        -webkit-box-shadow: 0 2px 10px 0 rgba(134,141,155,1);
              box-shadow: 0 2px 10px 0 rgba(134,141,155,1);
    }
  }

  @media (max-width:310px ) {
    .movie-view {
        background-color: #ddccff;
        border-radius: 25px;
        overflow: scroll;
        width: 200px;
        height: 400px;
        margin-top: 50px;
        -webkit-box-shadow: 0 2px 10px 0 rgba(134,141,155,1);
              box-shadow: 0 2px 10px 0 rgba(134,141,155,1);
    }
  }