//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Marcellus', serif;
//background-color:rgba(218,246,251,1);

.genre-view {
  background-color: #ddccff;
  border-radius: 25px;
  width: 700px;
  height: 215px;
  margin-top: 50px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(134, 141, 155, 1);
  box-shadow: 0 2px 10px 0 rgba(134, 141, 155, 1);
}

.genre-view h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.genre, .description, .gbtn {
    margin-left: 20px;
}

@media (max-width:620px ) {
  .genre-view {
      background-color: #ddccff;
      border-radius: 25px;
      overflow: scroll;
      width: 360px;
      height: 250px;
      margin-top: 50px;
      -webkit-box-shadow: 0 2px 10px 0 rgba(134,141,155,1);
            box-shadow: 0 2px 10px 0 rgba(134,141,155,1);
  }
}

@media (max-width:310px ) {
  .genre-view {
      background-color: #ddccff;
      border-radius: 25px;
      overflow: scroll;
      width: 200px;
      height: 350px;
      margin-top: 50px;
      -webkit-box-shadow: 0 2px 10px 0 rgba(134,141,155,1);
            box-shadow: 0 2px 10px 0 rgba(134,141,155,1);
  }
}
