//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Marcellus', serif;
//background-color:rgba(218,246,251,1);

.profile-vew {
    margin: 10px auto;
    font-family: 'Marcellus', serif;
    background-color:rgba(218,246,251,1);
}




.profile-view h1 {
    font-family: 'Open Sans Condensed', sans-serif;

}
